{%extends "layout.html"%}

{%block title%} - Test{%endblock%}

{%block navbar%} 
<ul class = "nav">
<li class="active"><a href="index">Home</a></li>  
<li><a href="projects">Projects</a></li>
<li><a href="resume">Resume</a></li>
</ul>
{%endblock%}

{%block content%}
<p> content goes here content goes herecontent goes herecontent goes
herecontent goes herecontent goes herecontent goes herecontent goes herecontent
goes herecontent goes herecontent goes herecontent goes herecontent goes
herecontent goes herecontent goes herecontent goes herecontent goes herecontent
goes herecontent goes herecontent goes herecontent goes herecontent goes
herecontent goes herecontent goes herecontent goes herecontent goes herecontent
goes herecontent goes herecontent goes herecontent goes herecontent goes
herecontent goes herecontent goes herecontent goes herecontent goes herecontent
goes herecontent goes herecontent goes herecontent goes herecontent goes
herecontent goes herecontent goes herecontent goes here
<br>

content goes herecontent goes herecontent goes herecontent goes here

<br><br>
content goes herecontent goes here</p>
{%endblock%}
