<!DOCTYPE html>
<!-- This file is not used. 
<html>

<head>
    <title>Christian Cheng</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300'
    rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/fa/css/font-awesome.min.css">
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
</head>

<div id="header">
    <h1><strong>Christian Cheng</strong></h1>
</div>

<body>

    <br><br><br>
    <div id="navbar">
        <ul class = "nav">
            <li class="active"><a href="index">Home</a></li>  
            <li><a href="projects">Projects</a></li>
            <li><a href="resume">Resume</a></li>
        </ul>
    </div>


    <div id ="content">
        <div id ="fader">
            <div id="center">
                <br><br>
                <h2>Hello! I'm Christian, and I'm a software developer.</h2>
                <a href="http://linkedin.com/in/christiancheng"
                target="_blank"> 
                    <i class="fa fa-linkedin-square fa-2x"></i>
                </a> &nbsp;
                <a href="http://github.com/christiancheng" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </div>
        </div>
    </div>

</body>

<script>
$(document).ready(function(){
	$("#fader").fadeIn(1200);
	$("result").fadeIn(5000);
	$("#toggle").click(function(){
    		$("hidden").toggle();
    	});
});
</script>

</html>

{%extends "layout.html"%}

{%block title%} - Test{%endblock%}

{%block navbar%} 
<ul class = "nav">
<li class="active"><a href="index">Home</a></li>  
<li><a href="projects">Projects</a></li>
<li><a href="resume">Resume</a></li>
</ul>
{%endblock%}

{%block content%}
<p> content goes here content goes herecontent goes herecontent goes
herecontent goes herecontent goes herecontent goes herecontent goes herecontent
goes herecontent goes herecontent goes herecontent goes herecontent goes
herecontent goes herecontent goes herecontent goes herecontent goes herecontent
goes herecontent goes herecontent goes herecontent goes herecontent goes
herecontent goes herecontent goes herecontent goes herecontent goes herecontent
goes herecontent goes herecontent goes herecontent goes herecontent goes
herecontent goes herecontent goes herecontent goes herecontent goes herecontent
goes herecontent goes herecontent goes herecontent goes herecontent goes
herecontent goes herecontent goes herecontent goes here
<br>

content goes herecontent goes herecontent goes herecontent goes here

<br><br>
content goes herecontent goes here</p>
{%endblock%}
-->
