#header {
height: 150px;
         text-align:center;
	}

#content {
	border-radius:5px;
	width: 60%;
	max-height: 75vh;
    overflow-y: auto;
padding: 0% 20% 0% 20%
	}


body {
overflow: hidden;
         max-width: 800px;
}

h1 { 
    font-family: "Open Sans", sans-serif;
	font-size:200%;
}

.nav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 80px;
    width: 100%;
    text-align:center;
    display: inline-block;
}
	
.nav ul {
display:inline;
list-style-type: none;
}

.nav li {
float: center;
display: inline-block;
margin: auto;
}

.nav a {
display: inline-block;
margin: auto;
padding: 4px 24px;
color: rgb(5,58,89);
text-align: center;
font-family: "Open Sans", sans-serif;
font-size:95%;
font-weight:bold;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav a:hover {
/*background-color: rgba(2,101,139,0.6);*/
border-top: 2px solid rgba(2,101,139,0.6);
border-bottom: 2px solid rgba(2,101,139,0.6); 

}

.active a {
/*background-color: rgba(2,101,139,0.6);*/
border-top: 2px solid rgba(2,101,139,0.6);
border-bottom: 2px solid rgba(2,101,139,0.6);
}
