#header {
    height: 0px;
    text-align: center;	
}

#navbar {
    text-align: center;
}

#footer {
  text-align: center;
  margin-top: 25px;
}

#content {
	border-radius: 5px;
	margin-top: 30px;
	max-height: 75vh;
    overflow-y: auto;
}


#fader {
    display: none;
}

#center {
    text-align: center;
}

.nav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    top: 80px;
    text-align:center;
    display: inline-block;
    width: 440px;
}
	
.nav ul {
    display:inline;
    list-style-type: none;
}

.nav li {
    float: center;
    display: inline-block;
}

.nav a {
    display: inline-block;
    margin: auto;
    padding: 4px 10px;
    color: rgb(5,58,89);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size:95%;
    font-weight:bold;
    text-decoration: none;
    width:80px;
}

.active a {
    border-top: 2px solid rgb(2,101,139);
    border-bottom: 2px solid rgb(2,101,139);
}

.phrases {
display: none;
}

@media only screen and ( max-width: 820px ){
    body{
		overflow: hidden;
        margin: 0 30px 0 30px;
    }
}

@media ( max-height: 525px ){
    body{
		overflow: auto;
    }
}

body {
    overflow: hidden;
    margin: 0 auto;
    max-width: 800px;
}

h1 { 
    font-family: "Open Sans", sans-serif;
    text-align: center;
	font-size: 200%;
}

p {
	font-family: "Open Sans", sans-serif;
	font-size: 90%;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: #3c8cba;
}

s2 {
	font-family: "Open Sans", sans-serif;
	font-size:110%;
	color: rgb(5,58,89);
}

s3 {
	font-family: "Open Sans", sans-serif;
	font-size:100%;
	color: rgb(5,58,89);
}

s4 {
	font-family: "Open Sans", sans-serif;
	font-size:150%;
	color: rgb(5,58,89);
}

s5 {
	font-family: "Open Sans", sans-serif;
	font-size:90%;
	color: rgb(5,58,89);
}

ul {
  font-family: "Open Sans", sans-serif;
	font-size:80%;
}


psmall {
	font-family: "Open Sans", sans-serif;
	font-size:80%;
}

pright {
  display: inline-block;
  float: right;
	font-family: "Open Sans", sans-serif;
	font-size:90%;
}


pcenter {
    font-family: "Open Sans", sans-serif;
    text-align:center;
}

pcolor {
    font-family: "Open Sans", sans-serif;
    color: #3c8cba;
}

imgblock {
    display: inline-block;
    float: left;
    padding-right: 20px;
}

imgblockright {
    display: inline-block;
    float: right;
    padding-left: 20px;
}

imgright {
    display: inline-block;
    float: right;
    font-family: "Open Sans", sans-serif;
	font-size: 90%;
}

imgcenter {
  text-align: center;
}

timediv {
  display: inline-block;
  float: left;
}

descdiv {
  display: inline-block;
}

::-webkit-scrollbar { 
    display: none; 
}

