#header {
height: 0px;
         text-align:center;
	}

#navbar {
    text-align:center;
}

#content {
	border-radius:5px;
	margin-top: 30px;
	max-height: 75vh;
    overflow-y: auto;
}


#fader {
display: none;
}

#center {
    text-align:center;
}

body {
overflow: hidden;
margin: 0 auto;
          max-width: 800px;
}

@media only screen and ( max-width: 820px ){
    body{
		overflow: hidden;
        margin: 0 30px 0 30px;
    }
}

@media ( max-height: 500px ){
    body{
		overflow: auto;
    }
}

h1 { 
    font-family: "Open Sans", sans-serif;
    text-align:center;
	font-size:200%;
}
h2 {
	font-family: "Open Sans", sans-serif;
	font-size:150%;
	color: rgb(5,58,89);
	}
h3 {
	text-align:center;
	font-family: "Open Sans", sans-serif;
	font-size:125%;
	color: rgb(36,164,199);
	}
p {
	font-family: "Open Sans", sans-serif;
	}
psmall {
	font-family: "Open Sans", sans-serif;
	font-size:80%;
	}
pcenter {
    font-family: "Open Sans", sans-serif;
    text-align:center;
}

::-webkit-scrollbar { 
    display: none; 
}

.nav {

    list-style-type: none;
  margin: 0 auto;
padding: 0;
    overflow: hidden;
   /* position: fixed;*/
    top: 80px;
    text-align:center;
    display: inline-block;
width: 400px;
}
	
.nav ul {
display:inline;
list-style-type: none;
}

.nav li {
float: center;
display: inline-block;
}

.nav a {
display: inline-block;
margin: auto;
        padding: 4px 24px;
color: rgb(5,58,89);
text-align: center;
font-family: "Open Sans", sans-serif;
font-size:95%;
font-weight:bold;
text-decoration: none;
width:75px;
}

/* Change the link color to #111 (black) on hover */
.nav a:hover {
/*background-color: rgba(2,101,139,0.6);*/
border-top: 2px solid rgb(2,101,139);
border-bottom: 2px solid rgb(2,101,139); 

}

.active a {
/*background-color: rgba(2,101,139,0.6);*/
border-top: 2px solid rgb(2,101,139);
border-bottom: 2px solid rgb(2,101,139);
}
